.bg-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  align-items: center;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.heading {
  color: ;
}
